@import "tailwindcss";

@theme {
  --color-softpink: #ffb8c6;
  --color-darkgray: #3a3a3a;
  --color-purewhite: #ffffff;
  --color-lightmauve: #f7e7f0;
  --color-elegantburgundy: #a64c69;
  --color-softpink: #ffb8c6;
}
